<div class="container-fluid">
  <div class="row pr-4">
    <app-nav isSelectTareas="true"></app-nav>
    <div class="col bg-white rounded-lg my-4 mr-4 p-4">
      <app-header name="Tareas"></app-header>
      <div class="b-gray rounded-lg">
        <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="ex1-tab-1"
              data-mdb-toggle="tab"
              href="tareas"
              role="tab"
              aria-controls="ex1-tabs-1"
              aria-selected="true"
              >Lista</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="ex1-tab-2"
              data-mdb-toggle="tab"
              href="calendario"
              role="tab"
              aria-controls="ex1-tabs-2"
              aria-selected="false"
              >Calendario</a
            >
          </li>
        </ul>
        <div class="tab-content" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-tabs-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
          >
          <table class="table table-hover">    
            <tbody class="tbody-scroll">
              <ng-container *ngFor="let item of proyects">
                <tr (click)="goToDetallles(item.id)">
                  <th scope="row" class="main semibold text-ellipsis"><span class="main">{{item.title}}</span></th>
                  <td>
                    <img class="float-right pt-2" src="../../assets/img/generic/chev_right.svg">
                  </td>
                </tr>
              </ng-container> 
            </tbody>									
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 <app-spinner></app-spinner>
</div>
<app-chat-button></app-chat-button>
