
<div class="border border-secondary border1 col-11 col-md-5 col-lg-4 col-xxl-3 mx-auto mt-5 pt-5 p-4 bg-white rounded-lg p-4 text-center">
    <img class="d-block mx-auto mb-5" src="./../../../assets/img/totalplay/totalplay.svg">
    <hr width=100%>
    <p class="h3 semibold main mb-3">Inicia sesión</p>
    <p class="medium gray mb-5 psizep">Selecciona tu cuenta de Google de tu correo de Totalplay.com.mx</p>
    <a id="my-signin2"  class="btn btn-outline-muted d-inline-block rounded-lg smoth py-3 px-4 mb-5 bg-lightt">
        <img class="mr-3" src="../../../assets/img/generic/google_logo.svg">
        <span class="main semibold" >Continuar con Google</span>
    </a>
    <p class="medium gray mb-5 psizep2">Si no tienes <b>tu cuenta de correo activa en Google</b>, ingresa a la siguiente liga y contesta el cuestionario</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQ59yJ69OD6OXUcM9xsv1sDt8Z5RoI507ArNY9k5ikW6XmLw/viewform" class="link-primary psizep"><b>Activa mi cuenta de Google</b></a>
</div>
<app-spinner></app-spinner>