a.bg-lightt {
    background-color: #e6e7ecf2 !important;
}
.psizep {
    font-size: 13px;
}
.psizep2 {
    font-size: 11px;
}
.border1 {
    border-radius: 20px !important;
   
}
.border-secondary {
    border-color: #d2d7db !important;
}