<ng-template #contenido let-modal>
    <div class="modal-content border-0 px-2">
        <div class="modal-header border-0">
            <h5 class="modal-title semibold main" id="modalEditarProyectoLabel">Nombre del Proyecto</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()">
                <span aria-hidden="true"><img src="../../../../assets/img/generic/close.svg"></span>
            </button>
        </div>
        <div class="modal-body pb-5 mb-5">
            <div class="row pt-0 pb-4 bb-gray">
                <div class="col">
                    <p class="semibold main m-0">Unidad de negocio</p>
                    <p class="medium gray">Totalplay Residencial</p>
                </div>
                <div class="col">
                    <p class="semibold main m-0">Fase del proyecto</p>
                    <span class="bg-tangerine py-1 px-2 rounded-lg small text-white semibold">Desarrollo</span>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12 semibold main mb-3">Colaboradores</div>	
            </div>						
            <div class="col h-200px overflow-auto">
                <div class="row border b-gray ml-2 mb-2 rounded">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_team_item_2.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Deysi Portillo</b> </h1>
                                <p class="gray small m-0">UI/UX Designer</p>
                            </div>
                    </div>
                      
                    <a href="tareas-colaborador" class="mt-1"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div>
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_user_1.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Dolores García Paz</b> </h1>
                                <p class="gray small m-0">PMO</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div> 
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_user_8.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Hector Cortes</b> </h1>
                                <p class="gray small m-0">Process Manager</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div> 
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_user_5.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Violeta Soto</b> </h1>
                                <p class="gray small m-0">Training and Communica..</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div>
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-5 col-lg-5 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_user_3.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Wendy Ayala</b> </h1>
                                <p class="gray small m-0">PMO</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div> 
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_user_4.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Lluvia Figueroa</b> </h1>
                                <p class="gray small m-0">Growth Hacking Manager</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-1"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div> 
                <div class="row border b-gray ml-2 mb-2 rounded w-95">
                   <div class="col-10 col-lg-10 col-xl-10 mr-4 p-1">
                            <div class="position-relative d-inline-block w-50px">
                                <img class="w-100 rounded-circle border border-light shadow" src="assets/img/test/test_team_item_2.png">
                                <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                            </div>
                            <div class="d-inline-block align-middle">
                                <h1 class="main h6 small m-0"><b>Michelle Soubran</b> </h1>
                                <p class="gray small m-0">UI Designer</p>
                            </div>
                    </div>
                    <a href="tareas-colaborador" class="mt-1"><img class="float-right pt-1" src="../../../../assets/img/generic/chev_right.svg"></a>
                </div>	
            </div>
        </div>
    </div>
</ng-template>
<span class="blue smoth d-inline-block semibold mr-3" (click)="openLG(contenido)">M&aacute;s informaci&oacute;n<img class="mr-1" src="../../assets/img/generic/chev_right.svg"></span>
