<ng-template #contenido let-modal>
    <div class="modal-content border-0 px-2">
        <div class="modal-header">
            <div class="col-6">
                <h5 class="modal-title semibold main" id="modalUltimasActividadesLabel">&Uacute;ltimas Actividades</h5>
            </div>
            <div class="col-6 text-right">
                <div class="d-inline-block">
                    <input class="input-search form-control d-inline-block" type="text" placeholder="Buscar">
                    <img class="icon-search" src="/resources/assets/icons/generales/search.svg">
                    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                        <span aria-hidden="true"><img src="../../assets/img/generic/close.svg"></span>
                    </button>
                </div>   
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <table id="tableUltimasActividades" class="table" style="width:100%">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/tarea_finalizada.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Venta Consultiva <span class="gray medium main">&middot; 26 de febrero 2021</span> </p>
                                                <p class="small semibold lh-init  m-0 ">Abril Lopez<span class="medium main"> a finalizado una tarea</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/tarea_finalizada.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Hogar seguro Sprint 2 <span class="gray medium main"> &middot; 26 de febrero 2021</span> </p>
                                                <p class="small semibold lh-init  m-0 ">Abril Lopez<span class="medium main"> a finalizado una tarea</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/comentario.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Best Fit<span class="gray medium main">&middot; 26 de febrero 2021 </span></p>
                                                <p class="small semibold lh-init  m-0 ">Raul Cruz<span class="medium main"> ha realizado un comentario</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/archivo_adjunto.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Nuevo modelo de atenci&oacute;n a clientes <span class="gray medium main">&middot; 26 de febrero 2021</span> </p>
                                                <p class="small semibold lh-init  m-0 ">Ricardo Moreno<span class="medium main"> ha subido un archivo adjunto</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/tarea_finalizada.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Venta Consultiva <span class="gray medium main">&middot; 26 de febrero 2021 </span></p>
                                                <p class="small semibold lh-init  m-0 ">Abril Lopez<span class="medium main"> a finalizado una tarea</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                    <div class="col p-0">
                                        <div class="row m-0 hover-bg-muted">
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img class="w-100 pl-4" src="/resources/assets/icons/actividades/tarea_finalizada.svg">
                                            </div>
                                            <div class="col-10 pr-0">
                                                <p class="semibold m-0 text-ellipsis">Hogar seguro Sprint 2 <span class="gray medium main"> &middot; 26 de febrero 2021</span> </p>
                                                <p class="small semibold lh-init  m-0 ">Abril Lopez<span class="medium main"> a finalizado una tarea</span></p>
                                            </div>
                                            <div class="col-1 p-0 d-flex align-items-center">
                                                <img src="/resources/assets/icons/generales/chev_right.svg">
                                            </div>
                                        </div>
                                    </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>	     
                </div>
            </div>
        </div>    
        <div class="modal-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">..</a></li>
                  <li class="page-item"><a class="page-link" href="#">12</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                  </li>
                </ul>
              </nav>   
        </div>
    </div>
</ng-template>
<app-spinner></app-spinner>
<a class="semibold blue float-right" (click)="openLG(contenido)" >Ver todos</a>
