<div class="container-fluid">
  <div class="row pr-4">
    <app-nav isSelectColaboradores="true"></app-nav>
    <div class="col bg-white rounded-lg my-4 mr-4 p-4">
      <app-header name="Colaboradores"></app-header>
      <div class="row">
          <div class="col">
            <table id="table" class="ml-2 w-95">
              <thead class="">
                <tr class="">
                  <th scope="col-4 border-0" class="semibold">Nombre</th>
                  <th scope="col-5 border-0" class="semibold">Proyecto</th>
                </tr>
              </thead>									
            </table>
            <div class="row border b-gray ml-2 mb-2 rounded w-95">
               <div class="col-4 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_team_item_2.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Deysi Portillo</b> </h1>
                    <p class="gray small m-0">UI/UX Designer</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
               </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div>
                          <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_user_1.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Dolores Garc&iacute;a Paz</b> </h1>
                    <p class="gray small m-0">PMO</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div> 
                          <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_user_8.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Hector Cortes</b> </h1>
                    <p class="gray small m-0">Process Manager</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div> 
                        <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_user_5.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle text-ellipsis">
                    <h1 class="main h6 small m-0"><b>Violeta Soto</b> </h1>
                    <span class="gray small m-0 w-12">Training and Commu..</span>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div>
                          <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_user_3.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Wendy Ayala</b> </h1>
                    <p class="gray small m-0">PMO</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div> 
              <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_user_4.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Lluvia Figueroa</b> </h1>
                    <p class="gray small m-0">Growth Hacking..</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div> 
                          <div class="row border b-gray ml-2 mb-2 rounded w-95" >
               <div class="col-5 col-lg-5 col-xl-4 mr-4 p-1">
                  <div class="position-relative d-inline-block w-50px">
                    <img class="w-100 rounded-circle border border-light shadow" src="../../assets/img/test/test_team_item_2.png">
                    <span class="pointer-green position-absolute rounded-circle border border-light"></span>
                  </div>
                  <div class="d-inline-block align-middle">
                    <h1 class="main h6 small m-0"><b>Michelle Soubran</b> </h1>
                    <p class="gray small m-0">UI Designer</p>
                  </div>
                  <div class="float-right pt-2">
                    <a href=""><img src="../../assets/img/generic/call.svg"></a>
                    <a href=""><img src="../../assets/img/generic/meet.svg"></a>
                  </div>
              </div>
                  <div class="btn-group p-3 pr-1">
                  <button type="button" class="btn-danger btnCdr1 btnColorCdr2 border-white pr-3 text-white small">Bestfit  </button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Venta Consultiva</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr2 border-white pr-3 text-white small">Hogar Seguro Sprint 2</button>
                  <button type="button" class="btn-success btnCdr btnColorCdr1 border-white pr-3 text-white small">Nueva Oferta de Negocios</button>
              </div>
              <a href="tareas-colaborador" class="mt-3"><img class="float-right pt-1" src="../../assets/img/generic/chev_right.svg"></a>
            </div>							
            <div>
               <nav aria-label="Page navigation mr-3 ml-2 w-95">
                <ul class="pagination float-right m-1 mr-5">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">12</a></li>
                <li class="page-item mr-4">
                  <a class="page-link" href="#">Siguiente</a>
                </li>
                </ul>
              </nav>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>
<app-spinner></app-spinner>